<!-- Orders Boared Template -->
{% extends "dashboard.html" %}
{% block in_dashboard %}
<section class="orders-boared">
    <div class="col-md-12">
         <!-- Start Error Handling Section -->
         {%include 'error-handle.html'%}
         <!-- End Error Handling Section -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Add Items Form -->
            <div class="card">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Select Category</span>
        <select id="order-item-category" class="form-select" aria-label="Default select example">
            {%for cate in categories%}
            <option value="{{cate.id}}">{{cate.categ}}</option>
            {%endfor%}
          </select>
          <span class="input-group-text" id="basic-addon1">Item Name</span>
        <input id="order-item-name" type="text" class="form-control" placeholder="Item Name" aria-label="text" aria-describedby="basic-addon1">
      </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Serial</span>
        <input id="order-item-serial" type="text" class="form-control" placeholder="Serial" aria-label="text" aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon1">Quantitly</span>
        <input id="order-item-quantity" type="text" class="form-control" placeholder="Quantity" aria-label="text" aria-describedby="basic-addon1">
        
      </div>
      <button id="add-item-btn" class="btn btn-primary">Add To List</button>
    </div> <!-- End Add Items Form-->
        </div>
    </div>
<!-- Items Table -->
<div class="row">
    <form action="" method="post">
    <table id="order_items_table" class="table table-striped table-bordered table-hover text-center">
        <thead>
            <tr>
                <th>Category</th>
                <th>Item Name</th>
                <th>Serial</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <div class="input-group mb-3">
        <span class="input-group-text">Attachment</span>
        <input class='custom-file-input form-control' type="file">
        <button class="btn btn-primary">Save Order</button>
    </div>
</form>
</div>
<!-- End Items Table -->
</div>
</div>
</section>
{%endblock%}
